.colums {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    align-items: start;
}

.create-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

input {
    margin: 10px;
}

.colum {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    box-shadow: 0px 0px 3px black;
    gap: 10px;
    width: 33%;
    padding: 10px;
}

.card {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.strike {
    text-decoration: line-through;
}

