<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="create-task">
        <h1>Добавить карточку:</h1>
        <label for="task-name">Название заметки</label>
        <input v-model="title" placeholder="Название заметки" type="text">
        <label for="task-description">Описание</label>
        <input v-model="description" placeholder="Описание" type="text">
        <button type="submit">Отправить</button>
        <task-card :notes = "notes"></task-card>
    </div>
</body>
</html>